*{
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    
    /* SCSS HSL */
    --color1: hsla(350, 77%, 22%, 1);
    --color2: hsla(23, 100%, 25%, 1);
    --color3: hsla(19, 79%, 34%, 1);
    --color4: hsla(47, 72%, 40%, 1);
    --color5: hsla(69, 76%, 50%, 1);
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Texturina', serif;
    
    background-color: var(--color5);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 900;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 2px var(--color1);
    background-color: var(--color4);
    width: 80%;
}

h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
    text-decoration: underline;
    background-color: var(--color5);
}

p {
    font-size: 1rem;
}

.price {
    font-size: 1.5rem;
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    padding-right: 3px;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}

img {
      width: 150px;
      height: 150px;
}

button {
    text-transform: uppercase;
    background-color: var(--color1);
    color: var(--color5);
    font-size: 1rem;
    font-family: 'Texturina', serif;
}

#product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px 15px;
}

.item {
    width: 250px;
    border: 1px solid teal;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: var(--color3);
    margin-bottom: 20px;
    padding: 15px;
}